.customInputBox, .customInputFloat {
  text-align: left;
  position: relative;
  margin-bottom: 35px;
}

.customInputBox input, .customInputFloat input {
  height: 50px;
  border: 1px solid #c1c1c1;
  border-radius: 3px;
  background-color: #fff !important;
}

.customInputFloat label {
  position: absolute;
  margin: 0;
  top: -12px;
  left: 5px;
  font-size: 13px;
  background: #fff;
  padding: 2px 10px;
}

.customInputBox label{
  font-size: 15px;
  margin-bottom: 10px;
  color: #000;
}

.customInputBox input:focus, .customInputFloat input:focus{
  box-shadow: none;
  border-color: currentColor;
}
