:root {
  --primColor: #4d52db;
  --secColor: #f17039;
}
html {
  overflow: overlay;
}

body {
  margin: 0;
  font-family: "Poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: var(--primColor);
}

.customContainer {
  padding-left: 60px !important;
  padding-right: 60px !important;
  width: 100% !important;
}
.optionalTag {
  color: #c1c1c1;
  margin-left: 5px;
}

.noScroll {
  overflow-y: hidden !important;
  transition: 1000ms all linear;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  /* position: absolute;
  top: 0;
  right:10px */
}
::-webkit-scrollbar-thumb {
  background: #a2a2a2;
  border-radius: 25px;
}
::-webkit-scrollbar-track {
  background: #ebebeb;
}

.noScroll{
  overflow-y: hidden !important;
  position: fixed;
  width: 100%;
}

.swBtnLoader {
  width: 8%;
}
button:focus {
  outline: 0;
}

.errorCnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffdede;
  color: #d80101;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 60px;
}
.errorCnt p {
  margin: 0;
  margin-left: 20px;
}

.successCnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #dbffe4;
  color: #01d83a;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 60px;
}
.successCnt p {
  margin: 0;
  margin-left: 20px;
}

input::-webkit-input-placeholder {
  color: #495057;
}
input:focus::-webkit-input-placeholder {
  color: #000;
}