.userDetailsForm {
  background: #efefef;
  padding: 60px 0;
}

.userDetailsForm .ltPanel {
  background: #fff;
  width: 320px;
  border-radius: 5px;
  margin-right: 35px;
  height: 625px;
  padding: 45px 30px;
  position: sticky;
  top: 30px;
}
.userDetailsForm .ltPanel ul {
  height: 100%;
  padding-left: 0;
}

.userDetailsForm .ltPanel .tabItem {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}

.userDetailsForm .ltPanel .tabItem a {
  padding-left: 75px;
  color: #d6d6d6;
  font-size: 16px;
  font-weight: 500;
}

.userDetailsForm .ltPanel .react-tabs__tab{
  padding: 0;
  border: none;
}

.userDetailsForm .ltPanel .tabItem .checkpoint {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d6d6d6;
  border: 1px solid currentColor;
}

.userDetailsForm .ltPanel li:not(:last-child) .tabItem .checkpoint::before {
  position: absolute;
  content: "";
  border-right: 2px dashed #d6d6d6;
  height: 50px;
  top: 48px;
  left: 50%;
}
.userDetailsForm .ltPanel .ltabItemi.active .checkpoint::before {
  border-color: var(--secColor);
}

.userDetailsForm .ltPanel .tabItem.active .checkpoint {
  color: var(--secColor);
  border: 1px solid currentColor;
}
.userDetailsForm .ltPanel .tabItem.active a {
  color: var(--secColor);
}

.userDetailsForm .ltPanel .tabItem.completed .checkpoint::before {
  border-color: var(--secColor);
}

.userDetailsForm .ltPanel .tabItem.completed .checkpoint {
  color: #fff;
  background: var(--secColor);
  border: 1px solid var(--secColor);
}
.userDetailsForm .ltPanel .tabItem.completed a {
  color: var(--secColor);
}
.userDetailsForm .rtPanel {
  background: #fff;
  width: 890px;
  border-radius: 5px;
  height: 100%;
  padding: 45px 30px;
}

.userDetailsForm .formTitle {
  color: #3e3e3e;
  font-size: 18px;
  text-align: left;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.userDetailsForm .formSubTitle {
  font-size: 16px;
  text-align: left;
  margin-bottom: 25px;
  font-weight: 600;
  color: #3e3e3e;
  margin-top: 25px;
}
.userDetailsForm .radioLabel {
  font-size: 15px;
  margin-bottom: 15px;
  color: #000;
}
.userDetailsForm .formRadio {
  margin-bottom: 35px;
}
.btnContainer {
  margin-top: 50px;
}
.userDetailsForm .primButton,
.userDetailsForm .tertButton {
  width: 200px;
}
.userDetailsForm .tertButton {
  margin-right: 15px;
}
